h1 {
  color: whitesmoke;
  font-family: Georgia, sans-serif;
  background-color: black;
}

.jumbatron text-center{
    color: aquamarine;
}

.title {
    color: whitesmoke;
    font-family: fantasy;
    font-size: 50pt;
    text-align: center;
}