.navbar.navbar-1 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger6.svg?color=000');
}

.container-fluid {
    font-size: 0.3vw;

}

.title {
    color: whitesmoke;
    font-family: fantasy;
    font-size: 50px;
    margin-left: 35%;
}

.welcome-sign {
    margin-left: 35%;
    font-size: 0.9vw;
    font-family: fantasy;
    margin-bottom: 8%;
    margin-top: 4%;
    color: white;
}

.jumbotron {
    margin-top: 10%;
    background-image: url(myherocover.jpg);
    background-size: 100%;
}

/*-----footer----*/

footer {
    position: absolute;
    text-align: center;
    font-size: 16px;
    height: 60px;
    width: 100%;
    bottom: 0;
    background-color: #222;
    clear: both;
}

#wholepage {
    margin-right: auto;
    margin-left: auto;
}

.foottext {
    color: gainsboro;
}
