body {
    background-color: whitesmoke;
}

h1 {
  margin-top: 5%;
  color: whitesmoke;
  font-family: fantasy;
  margin-left: 15%;
  font-size: 300%;
}

p { 
  font-size: 140%;
  color: azure;
  font-family: fantasy;
  margin-left: 10%;
  padding-right: 10%
}

.jumbatron text-center{
    color: aquamarine;
}

.title {
    color: whitesmoke;
    font-family: fantasy;
    font-size: 50px;
    margin-left: 35%;
}

.landIMG{
    padding-top: 12%;
    padding-left: 25%;
    width: 90%;
}

.learnButton{
    text-align: right;
}

.program{
    padding-top: 12%;
}

.missionTextSquare{
  position: absolute;
  top: 40%;
  left: 8%;
  width: 35%;
  height: 40%;
  margin : 1%;
  border: 5px solid rgba(0, 0, 0, 0);
  background-color: black;
}

.programsSummary{
  float: left;
  width: 38%;
  height: 400px;
  margin: 3%;
  border: 1px solid rgba(0, 0, 0, 0);
}

.hero{
    background-color: darkred;
    margin-left: 9%;
}

.engineer{
    background-color: skyblue;
    margin-left: 2%;
}