body {
    background-color: whitesmoke;
    height: 100%;
}

.container-fluid {
    font-size: 0.3vw;

}

html {
    height: 100%;
}

h1 {
    margin-top: 5%;
    color: whitesmoke;
    font-family: fantasy;
    margin-left: 15%;
    font-size: 300%;
}

p {
    font-size: 140%;
    color: azure;
    font-family: fantasy;
    margin-left: 10%;
    padding-right: 10%
}

.title {
    color: whitesmoke;
    font-family: fantasy;
    font-size: 50px;
    margin-left: 35%;
}

.shop-search {
    margin-top: 12%;
    margin-left: 45%;
}

.nav-col {
    background-color: dimgrey;
    border-radius: 30px;
    margin: 30px 0px 30px 30px;
    width: 430px;
    position: absolute;
}

.filter-head {
    margin-left: 20%;
    font-size: 4.5vw;
}

.filter-item {
    margin-left: 5%;
    color: white;
    font-size: 3vw;
    font-family: fantasy;
}

.logo {
    margin-top: 7px;
    margin-left: 80px;
    margin-bottom: 0px;
    float: left;
    padding: 10px
}

#showcase {
    background: white;
    height: 300px;
    float: right;
    border-radius: 30px;
    margin-left: 0px;
    margin-right: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#showcase h1 {
    color: dimgray;
    float: right;
    text-align: center;
    font-size: 30px;
    margin-left: 0px;
    width: 700px;
    margin-top: 10px;
}

#showcase p {
    color: dimgray;
    float: right;
    text-align: center;
    font-size: 50px;
    width: 450px;
    margin: 10px 65px 0px 0px;
}

#showcase p1 {
    color: dimgray;
    float: right;
    text-align: center;
    font-size: 30px;
    width: 450px;
    margin: 10px 120px 0px 0px;
}

.showcase-content ul {
    display: table;
    position: absolute;
    list-style: none;
    float: right;
    width: 480px;
    margin-top: 240px;
    margin-left: 550px;
    padding: 0
}


.showcase-content ul li {
    float: right;

}

.showcase-content ul li a {
    padding: 0px 40px;
    font-size: 20px;
    color: dimgray;
}

#showcase2 {
    background: white;
    height: 300px;
    float: right;
    border-radius: 30px;
    margin-left: 0px;
    margin-right: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#showcase2 h1 {
    color: dimgray;
    float: right;
    text-align: center;
    font-size: 30px;
    margin-left: 0px;
    width: 700px;
    margin-top: 10px;
}

#showcase2 p {
    color: dimgray;
    float: right;
    text-align: center;
    font-size: 50px;
    width: 450px;
    margin: 10px 65px 0px 0px;
}

#showcase2 p1 {
    color: dimgray;
    float: right;
    text-align: center;
    font-size: 30px;
    width: 450px;
    margin: 10px 120px 0px 0px;
}

.showcase-content2 ul {
    display: table;
    position: absolute;
    list-style: none;
    float: right;
    width: 480px;
    margin-top: 240px;
    margin-left: 550px;
    padding: 0
}


.showcase-content2 ul li {
    float: right;
    margin-right: 40px;

}

.showcase-content2 ul li a {
    padding: 0px 40px;
    font-size: 20px;
    color: dimgray;
}

#showcase3 {
    background: white;
    height: 300px;
    float: right;
    border-radius: 30px;
    margin-left: 0px;
    margin-right: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#showcase3 h1 {
    color: dimgray;
    float: right;
    text-align: center;
    font-size: 30px;
    margin-left: 0px;
    width: 700px;
    margin-top: 10px;
}

#showcase3 p {
    color: dimgray;
    float: right;
    text-align: center;
    font-size: 50px;
    width: 450px;
    margin: 10px 65px 0px 0px;
}

#showcase3 p1 {
    color: dimgray;
    float: right;
    text-align: center;
    font-size: 30px;
    width: 450px;
    margin: 10px 120px 0px 0px;
}

.showcase-content3 ul {
    display: table;
    position: absolute;
    list-style: none;
    float: right;
    width: 480px;
    margin-top: 240px;
    margin-left: 550px;
    padding: 0
}


.showcase-content3 ul li {
    float: right;

}

.showcase-content3 ul li a {
    padding: 0px 40px;
    font-size: 20px;
    color: dimgray;
}

#showcase4 {
    background: white;
    height: 300px;
    float: right;
    border-radius: 30px;
    margin-left: 0px;
    margin-right: 200px;
    margin-top: 10px;
    margin-bottom: 30px;
}

#showcase4 h1 {
    color: dimgray;
    float: right;
    text-align: center;
    font-size: 30px;
    margin-left: 0px;
    width: 700px;
    margin-top: 10px;
}

#showcase4 p {
    color: dimgray;
    float: right;
    text-align: center;
    font-size: 50px;
    width: 450px;
    margin: 10px 65px 0px 0px;
}

#showcase4 p1 {
    color: dimgray;
    float: right;
    text-align: center;
    font-size: 30px;
    width: 450px;
    margin: 10px 120px 0px 0px;
}

.showcase-content4 ul {
    display: table;
    position: absolute;
    list-style: none;
    float: right;
    width: 480px;
    margin-top: 240px;
    margin-left: 550px;
    padding: 0
}

.product-image {
    height: 20%;
}


.showcase-content4 ul li {
    float: right;

}

.showcase-content4 ul li a {
    padding: 0px 40px;
    font-size: 20px;
    color: dimgray;
}

#pop-up {
    position: relative;
    top: 200px;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    z-index: 1;
}

#pop-up .container {
    background: whitesmoke;
    position: absolute;
    top: 200px;
    width: 100%;
    border: 10px groove dimgray;
    box-sizing: border-box;
}

#pop-up .container h1{
    border-bottom: 1px solid ;
    float: left;
    color: #222;
    padding-bottom: 20px;
    width: 40%;
    font-size: 4.5vh;
    margin: 20px 5px 20px 20px;
}

#pop-up .container p{
    font-family: fantasy;
    font-size: 2.5vh;
    color: #222;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #222;
}

#pop-up .container p1{
    font-family: fantasy;
    color: #222;
    font-size: 3.5vh;
}

#pop-up input {
    padding: 15px;
    border: 0;
    width: 50%;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 1px solid #222;
    font-size: 18px;
}

button {
    padding: 10px;
    border: 0;
    color: #fff;
    background: #222;
    margin-left: -5px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #333;
    font-size: 18px;
    cursor: pointer;
}

/*// button animation //*/
button:hover{
    animation: shake 0.6s infinite;
}

@keyframes shake{
    0%{
        transform: translate(0px,0px) rotate(0deg)
    }
    25%{
        transform: translate(1px,1px) rotate(1deg)
    }
    50%{
        transform: translate(-1px,-1px) rotate(-1deg)
    }
    75%{
        transform: translate(2px, -1px) rotate(2deg)
    }
    100%{
        transform: translate(-1px, 1px) rotate(-1deg)
    }
}

/*// pop-up animation //*/

#pop-up{
    top: -400px;
    animation: drop 1s ease forwards;
}

@keyframes drop{
    0%{
        opacity: 0;
    }
    70%{
        transform: translateY(350px)
    }
    100%{
        transform: translateY(300px); opacity: 1;
    }
}


/*-----footer----*/

footer {
    position: relative;
    text-align: center;
    font-size: 16px;
    height: 100px;
    margin-top: -100px;
    background-color: #222;
    clear: both;
}

#main {
    overflow: auto;
    padding-bottom: 100px;
}

#container {
    margin-right: auto;
    margin-left: auto;
    min-height: 100%;
}

footer {
    position: relative;
    text-align: center;
    font-size: 16px;
    height: 60px;
    margin-top: -100px;
    background-color: #222;
}

.foottext {
    color: gainsboro;
}

#wholepage {
    margin-right: auto;
    margin-left: auto;
}
