body {
    background-color: whitesmoke;
}



h1 {
    margin-top: 5%;
    color: whitesmoke;
    font-family: fantasy;
    margin-left: 15%;
    font-size: 300%;
}

p {
    font-size: 140%;
    color: black;
    font-family: fantasy;
    margin-left: 10%;
    padding-right: 10%
}

.title {
    color: whitesmoke;
    font-family: fantasy;
    font-size: 50px;
    margin-left: 35%;
}

.landIMG{
    padding-top: 12%;
    padding-left: 25%;
    width: 90%;
}

.learnButton{
    text-align: right;
}

.program{
    padding-top: 12%;
}

.program2{
    padding-top: 19%;
}

.missionTextSquare{
    position: absolute;
    font-size: 0.9vw;
    top: 25%;
    left: 8%;
    width: 35%;
    margin: 5%;
    border: 5px solid rgba(0, 0, 0, 0);
    background-color: black;
}

.programsSummary{
    float: left;
    width: 38%;
    height: 400px;
    margin: 3%;
    border: 1px solid rgba(0, 0, 0, 0);
}

.hero{
    background-color: darkred;
    margin-left: 9%;
}

.engineer{
    background-color: skyblue;
    margin-left: 2%;
}

/*-----footer----*/

footer{
    width: 100%;
    background-color: #222;
    padding: 5%;
    color: whitesmoke;
}


.fa{
    padding: 15px;
    font-size: 40px;
    color: whitesmoke;

}

.fa:hover{
    color: #D5D5D5;
    text-decoration: none;
}

.carousel-indicators{
    bottom: 75%;
}

#wholepage{
    margin-right:auto;
    margin-left:auto;
}


.carousel-caption{
    top: 50%;
    transform: translateY(-50%);
    text-transform:uppercase;
}

.btn1{
    font-size: 18px;
    color: black;
    background: whitesmoke;
    border: 2x solid whitesmoke;
    position: absolute;
    margin-top: 450px;
}

.col-sm-4{
    border: 2px solid black;
}

.box1{
    position: absolute;
}

.box1 h3{
    font-size: 5vh;
    color: whitesmoke;
}

.box1 h4{
    font-size: 2vh;
    color: whitesmoke;
}

.box2 h3{
    font-size: 5vh;
    color: whitesmoke;
}

.box2 a{
    font-size: 3vh;
    color: whitesmoke;
}

.hiddencontainer{
    padding: 10px;
}
